body{
    padding: 0;
    margin: 0;
    background-image: url("./Assets/brick.gif");

}

.main-background{
    width: 100%;
    height: 100%;
    position: absolute;
    backdrop-filter: brightness(0.5) hue-rotate(185deg);

    display:flex;
    justify-content: center;
    overflow:hidden
}

.miku{
    height: 80vh;
    max-height: 400px;
}