body{
    padding: 0;
    margin: 0;
    background-image: url("./Assets/b_7.gif");
    text-align: center;

}

.miku{
    height: 80%;
    max-height: 400px;
}

button{
    margin: 10px 5px 10px 5px;
}